[Unit]
Description=Updates DNS records with local IP
Wants=ddns.timer

[Service]
Type=oneshot
WorkingDirectory=/path/to/script
ExecStart=/path/to/venv/python /path/to/script/update.py

[Install]
WantedBy=multi-user.target
